<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body>

<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: study-banner"></div>
<div class="container">
  <div th:replace="fragments.html :: study-info"></div>
  <div th:replace="fragments.html :: study-menu(studyMenu='chat')"></div>

  <div th:replace="fragments.html :: study-chat"></div>

  <div th:replace="fragments.html :: footer"></div>
</div>

<script th:replace="fragments.html :: tooltip"></script>


<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

<script th:inline="javascript">

  let studyId = [[${study.id}]];
  let senderId = [[${account.id}]];
  let senderName = [[${account.nickname}]];

  let stompClient = null;

  function connect(){

  const socket = new SockJS('/ws');
  stompClient = Stomp.over(socket);

  stompClient.connect({},function(){

  stompClient.subscribe('/topic/study/'+studyId,function(msg){

  const data = JSON.parse(msg.body);

  console.log(data);

  const box = document.getElementById("chat-box");

  let type = data.senderId === senderId ? "mine" : "other";

  let html = "";

  if(type === "mine"){

  html = `
  <div class="chat-message mine">
  <div class="chat-bubble">
  ${data.message}
  </div>
  </div>
  `;

  }else{

  html = `
  <div class="chat-message other">
  <div>
  <div class="sender">${data.senderId}</div>
  <div class="chat-bubble">
  ${data.message}
  </div>
  </div>
  </div>
  `;

  }

  box.innerHTML += html;

  box.scrollTop = box.scrollHeight;

  });

  });

  }

  function sendMessage(){

  const input = document.getElementById("message");
  const message = input.value;

  if(message.trim() === "") return;

  stompClient.send("/app/chat.send",{},JSON.stringify({
  studyId:studyId,
  senderId:senderId,
  senderName:senderName,
  message:message
  }));

  input.value="";

  }

  document.getElementById("message").addEventListener("keypress",function(e){

  if(e.key==="Enter"){
  sendMessage();
  }

  });

  connect();

</script>

</body>
</html>