<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body>

<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: study-banner"></div>
<div class="container">
  <div th:replace="fragments.html :: study-info"></div>
  <div th:replace="fragments.html :: study-menu(studyMenu='chat')"></div>

  <div th:replace="fragments.html :: study-chat"></div>

  <div th:replace="fragments.html :: footer"></div>
</div>

<script th:replace="fragments.html :: tooltip"></script>


<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

<script th:inline="javascript">

  let studyId = [[${study.id}]];
  let senderId = [[${account.id}]];
  let senderName = [[${account.nickname}]];
  let lastSenderId = null;
  let lastMessageMinute = null;

  let page  = 0;
  let loading = false;
  let hasNext = true;

  let stompClient = null;

  function loadOlderMessages(){

    if(loading || !hasNext) return;

    loading = true;

    fetch(`/api/chat/${studyId}?page=${page}&size=20`)
        .then(res => res.json())
        .then(data => {

            const box = document.getElementById("chat-box");

            const scrollHeightBefore = box.scrollHeight;

            data.content.forEach(msg => {
                renderMessageTop(msg);
            });

            const scrollHeightAfter = box.scrollHeight;

            box.scrollTop = scrollHeightAfter - scrollHeightBefore;

            hasNext = !data.last;
            page++;

            loading = false;
        });
  }





  function loadChatHistory(){
    fetch("/api/chat/" + studyId)
      .then(res => res.json())
      .then(data => {
              data.forEach(msg => {
                renderMessage(msg);
            });
        });
  }

  function connect() {

    const socket = new SockJS('/ws');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function () {
        stompClient.subscribe('/topic/study/' + studyId, function (msg) {
            const data = JSON.parse(msg.body);
            renderMessage(data);
        });
    });
  }

  function createMessageElement(data){
      const messageWrapper = document.createElement("div");
        messageWrapper.classList.add("chat-message");

        const container = document.createElement("div");
        container.classList.add("message-container");

        const bubble = document.createElement("div");
        bubble.classList.add("chat-bubble");
        bubble.textContent = data.message; // XSS 방지

        const time = document.createElement("div");
        time.classList.add("chat-time");
        time.textContent = formatTime(data.sentAt);

        const currentMinute = getMinute(data.sentAt);



        if (data.senderId === senderId) {

            messageWrapper.classList.add("mine");
            container.appendChild(bubble);
            container.appendChild(time);


        } else {
            messageWrapper.classList.add("other");

            const senderDiv = document.createElement("div");
            senderDiv.classList.add("sender");
            senderDiv.textContent = data.senderName;

            container.appendChild(senderDiv);
            container.appendChild(bubble);
            container.appendChild(time);

        }
        messageWrapper.appendChild(container);
        messageWrapper.dataset.sender = data.senderId;
        messageWrapper.dataset.minute = getMinute(data.sentAt);

        lastSenderId = data.senderId;
        lastMessageMinute = currentMinute;

        return messageWrapper;
  }

  function renderMessage(data) {

    const box = document.getElementById("chat-box");

    const isBottom = box.scrollHeight - box.scrollTop - box.clientHeight < 50;

    const messageElement = createMessageElement(data);
    messageElement.dataset.date = getDateStr(data.sentAt);
    messageElement.dataset.sentAt = data.sentAt;

    const prev = box.lastElementChild;

    box.appendChild(messageElement);

    // 2️⃣ 날짜 구분선 삽입
    const prevDateStr = prev ? prev.dataset.date : null;
    const currentDateStr = messageElement.dataset.date;

    if(prevDateStr !== currentDateStr){
        const divider = document.createElement("div");
        divider.classList.add("date-divider");
        divider.textContent = currentDateStr;
        box.insertBefore(divider, messageElement); // 메시지 바로 위에
    }


    if(prev){

        const prevSender = prev.dataset.sender;
        const prevMinute = prev.dataset.minute;

        const currentMinute = getMinute(data.sentAt);

        if(prevSender == data.senderId && prevMinute == currentMinute){
            const prevTime = prev.querySelector(".chat-time");
            if(prevTime) prevTime.remove();
            const sender = messageElement.querySelector(".sender");
            if(sender) sender.remove();
        }

    }

    if(isBottom){
      box.scrollTop = box.scrollHeight;
      hideNewMessageIndicator();
    } else{
      showNewMessageIndicator();
    }
  }

  function showNewMessageIndicator() {
    const indicator = document.getElementById("new-message-indicator");
    indicator.style.display = "block";
  }

  function hideNewMessageIndicator() {
    const indicator = document.getElementById("new-message-indicator");
    indicator.style.display = "none";
  }

  document.getElementById("new-message-indicator").addEventListener("click", function(){
    const box = document.getElementById("chat-box");
    box.scrollTop = box.scrollHeight; // 최신 메시지로 이동
    hideNewMessageIndicator();
  });


  function renderMessageTop(data){
    const box = document.getElementById("chat-box");
    const messageWrapper = createMessageElement(data);

    messageWrapper.dataset.date = getDateStr(data.sentAt);
    messageWrapper.dataset.sentAt = data.sentAt;

    const next = box.firstElementChild;

    //날짜 구분선 삽입 (메시지 위)
    const currentDateStr = messageWrapper.dataset.date;
    const nextDateStr = next ? next.dataset.date : null;

    if(nextDateStr !== currentDateStr){
        const divider = document.createElement("div");
        divider.classList.add("date-divider");
        divider.textContent = currentDateStr;
        box.insertBefore(divider, next || box.firstChild); // 안전하게 next 앞에 넣음
    }

    box.prepend(messageWrapper);

    if(next){

        const nextSender = next.dataset.sender;
        const nextMinute = next.dataset.minute;

        const currentMinute = getMinute(data.sentAt);

        if(nextSender == data.senderId && nextMinute == currentMinute){
            const time = messageWrapper.querySelector(".chat-time");
            if(time) time.remove();
            const sender = next.querySelector(".sender");
            if(sender) sender.remove();
        }

    }
  }

  function sendMessage() {

    const input = document.getElementById("message");
    const message = input.value.trim();

    if (message === "") return;

    stompClient.send("/app/chat.send", {}, JSON.stringify({
        studyId: studyId,
        senderId: senderId,
        senderName: senderName,
        message: message
    }));

    input.value = "";
  }

  document.getElementById("message").addEventListener("keypress", function(e) {
    if (e.key === "Enter" && !e.shiftKey) {
        e.preventDefault();
        sendMessage()
    }
  });

  function formatTime(dateString){

    const date = new Date(dateString);

    let hours = date.getHours();
    let minutes = date.getMinutes();

    const ampm = hours >= 12 ? "오후" : "오전";

    hours = hours % 12;
    hours = hours ? hours : 12;

    minutes = minutes < 10 ? "0" + minutes : minutes;

    return ampm + " " + hours + ":" + minutes;
  }

  function getDateStr(dateString){
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, "0");
    const day = date.getDate().toString().padStart(2, "0");
    return `${year}-${month}-${day}`; // 예: 2026-03-13
  }

<!--  function insertDateDivider(box, messageElement, prepend = false) {-->
<!--    const currentDateStr = getDateStr(messageElement.dataset.sentAt);-->

<!--    // 이전/다음 메시지와 비교-->
<!--    let sibling = prepend ? box.firstElementChild : messageElement.previousElementSibling;-->
<!--    let siblingDateStr = sibling ? sibling.dataset.date : null;-->

<!--    if(siblingDateStr !== currentDateStr){-->
<!--        const divider = document.createElement("div");-->
<!--        divider.classList.add("date-divider");-->
<!--        divider.textContent = currentDateStr;-->

<!--        // 메시지 바로 위/아래에 넣기-->
<!--        if(prepend){-->
<!--            box.insertBefore(divider, messageElement);-->
<!--        } else {-->
<!--            box.insertBefore(divider, messageElement);-->
<!--        }-->
<!--    }-->
<!--  }-->

  function getMinute(dateString){
    const date = new Date(dateString);
    return date.getHours() + ":" + date.getMinutes();
  }


  loadOlderMessages();
  connect();

  const box = document.getElementById("chat-box");

  box.addEventListener("scroll", function(){
    if(box.scrollTop <= 10){
        loadOlderMessages();
    }
  });
</script>

</body>
</html>